@import "../../css/colors.css";
@import "../../css/units.css";

.modal-content {
    width: 600px;
}

.body {
    background: white;
    padding: 1.5rem 1.5rem;
}

.qrcode-canvas {
    display: block;
    width: 100%;
    user-select: none;
    border-bottom: 1px solid #eaeaea;
}
